#logo {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: .95rem;
  line-height: 20px;
  color: #090F31;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo>span {
  color: #F7542E;
}
#nav {
  display: none;
}

@media only screen and (min-width: 600px) {
  #nav {
    display: grid;
    place-content: start;
    margin-top: 50%;
    padding-left: 1.6rem;
  }
  p {
  color: #9E9E9E;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  position: relative;
  }
  #main {
  color: #090F31;
  font-weight: 700;
  }
}

@media only screen and (min-width: 800px){
  #nav {
    padding-left: .9rem;
  }
}

@media only screen and (min-width: 900px) {
  #nav {
    padding-left: 1.6rem;
  }
}
